<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.fastadaptertest">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="android.com.updateCurrentLocation.ActivityLocation" />

        <!--android:icon="@mipmap/ic_launcher"-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name="android.com.sharedPreference.SecondActivity" />


        <activity android:name="android.com.UI_AND_THEMES.TestEmoji" />


        <activity android:name="android.com.recyclerviewClickHandleHere.ClcikHandledActivity">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name="android.com.dialog.activity.FabActivity" />

        <activity android:name="android.com.UI_AND_THEMES.check.SecndActivity" />


        <activity android:name="android.com.parseArray.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name="android.com.ratingbar.MainActivity"
            android:exported="true"/>


    </application>

</manifest>